[submodule "anchor_nft_stake"]
	path = anchor_nft_stake
	url = https://github.com/akasimo/anchor_nft_stake
[submodule "metaplex_core_nft-staking"]
	path = metaplex_core_nft-staking
	url = https://github.com/akasimo/metaplex_core_nft-staking
[submodule "anchor_escrow"]
	path = anchor_escrow
	url = git@github.com:akasimo/anchor_escrow.git
[submodule "anchor_marketplace"]
	path = anchor_marketplace
	url = https://github.com/akasimo/anchor_marketplace
